extends layout

block content
  h1= title
  script.
    function buy(index)
        {
            alert(`You played game ${index+1}`)
        }
  - const resul = results
  div(class='container-fluid')
    div(class='row')
      each result,index in resul
        div(class='col-sm-2' onclick =`buy(${index})`)
          p electricitems: #{result.electricitems}
          p company: #{result.company}
          p price: #{result.price}